In [13]:
#Import these librarirs 
import pandas as pd
import sqlite3 #if not installed then instal (pip install sqlite3)

In [14]:
#Load your database by
dataFrame = pd.read_excel('love Always,Liz CBD Oil.xlsx') # load your file name by typing the name in the doubleqoute with .xlsx 
                                                #if you get any error you need to install xlsx reader

In [15]:
dataFrame_columns = dataFrame.columns
dataFrame_columns

Index(['Name', 'Address', 'City', 'Contact'], dtype='object')

In [16]:
for column in dataFrame_columns:
    dataFrame[column]=dataFrame[column].str.replace(u'\xa0', u'')  #This is used to replace whitespaces with empty string

In [17]:
dataFrame.head()

,Name,Address,City,Contact
0,Trellis Beauty,Lafayette Village,8480 Honeycutt Rd. Suite 114,(919) 703-0764
1,Citrine Skin & Lash Spa,800 Salem Woods Drive Suite 204,"Raleigh, NC 27615",(919) 972-1935
2,Sherlocks Glass,3801 Hillsborough St. #101,"Raleigh, NC 27607",(919) 977-9481
3,Bungalow,339 W. Main Street,"Durham, NC 27701",(919) 973-2449
4,Raleigh Provisions,107 E. Davie Street,"Raleigh, NC 27601",(984) 233-5600

In [18]:
conn = sqlite3.connect('DB4.db') #NOTE THAT EVERYTIME FOR NEW FILE YOU HAVE CHANGE THE NAME DB1 TO SOMEHTING ELSE EXAMPLE
                                 #DB2 OR ANY OTHER

In [19]:
c = conn.cursor()

In [20]:
query=[]
for i in dataFrame_columns:
    query.append(i+' varchar')
    
", ".join(query)

'Name varchar, Address varchar, City varchar, Contact varchar'

In [21]:
c.execute(f'CREATE TABLE BRANDS ({query})')
conn.commit()

In [22]:
dataFrame.to_sql('BRANDS', conn, if_exists='replace', index = True)

In [23]:
c.execute('''  
SELECT * FROM('BRANDS');
          ''')

for row in c.fetchall():
    print (row)               #this is to view data that is converted
c.close()

(0, 'Trellis Beauty', 'Lafayette Village', '8480 Honeycutt Rd. Suite 114', '(919) 703-0764')
(1, 'Citrine Skin & Lash Spa', '800 Salem Woods Drive Suite 204', 'Raleigh, NC 27615', '(919) 972-1935')
(2, 'Sherlocks Glass', '3801 Hillsborough St. #101', 'Raleigh, NC 27607', '(919) 977-9481')
(3, 'Bungalow', '339 W. Main Street', 'Durham, NC 27701', '(919) 973-2449')
(4, 'Raleigh Provisions', '107 E. Davie Street', 'Raleigh, NC 27601', '(984) 233-5600')
(5, 'Bowerbird Flowers + Apothecary', '1322FordhamBlvd', 'Chapel Hill, NC 27612', '(984) 234-0024')
(6, 'Herbivore', '1809-A Glenwood Ave', 'Raleigh, NC 27608', '(919) 748-8928')
(7, 'Method Wellness', '2272 W Great Neck Rd.', 'Virginia Beach, VA 23451', '(757) 807-7127')
(8, 'Purify Infrared Sauna', 'Purify Patterson', '5609 Patterson Ave', '(804) 573-9925')
(9, 'Purify Short Pump', '301 Maltby Boulevard', 'Suite C, Henrico, VA 23233', '(804) 360-0003')
(10, 'Kathy Fielder Boutique', '2000 Greenville Avenue', 'Dallas, TX 75206', '(214) 515-9109')

In [14]:
# if you want to view online then go to https://inloop.github.io/sqlite-viewer/ and drag and drop your file having extension .db